NEXT_PUBLIC_API_URL=http://localhost:4100
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_GCT_CONTRACT_ADDRESS=
NEXT_PUBLIC_COSMETICS_CONTRACT_ADDRESS=
NEXT_PUBLIC_AA_ENABLED=false
NEXT_PUBLIC_ALCHEMY_API_KEY=
NEXT_PUBLIC_ALCHEMY_GAS_POLICY_ID=
NEXT_PUBLIC_ALCHEMY_CHAIN_ID=11155111
